title: Jiege
subtitle: ''
description: 美丽杰哥的个人博客
keywords: null
author: Jiege
language: zh-CN
timezone: Asia/Shanghai
url: https://115jiege.github.io/
permalink: ':year/:month/:day/:title/'
permalink_defaults: null
pretty_urls:
  trailing_index: true
  trailing_html: true
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
bilibili_dir: bilibili
#list_dir: lists
#music_dir: music
#Gallery_dir: Gallery
#movies_dir: movies
code_dir: downloads/code
i18n_dir: ':lang'
skip_render:  
- 404.html
new_post_name: ':title.md'
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: true
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''
index_generator:
  path: ''
  per_page: 12
  order_by: '-date'
default_category: uncategorized
category_map: null
tag_map: null
meta_generator: true
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: mtime
per_page: 10
pagination_dir: page
include: null
exclude: null
ignore: null
theme: butterfly
deploy:
  type: git
  repository: git@github.com:115Jiege/115Jiege.github.io.git
  branch: master
symbols_count_time:
  symbols: true
  time: true
  total_symbols: true
  total_time: true
live2d:
  enable: true
  pluginRootPath: live2dw/
  pluginJsPath: lib/
  pluginModelPath: assets/
  scriptFrom: local
  tagMode: false
  log: false
  model:
    use: live2d-widget-model-nipsilon
    scale: 1
    hHeadPos: 0.5
    vHeadPos: 0.618
  display:
    superSample: 2
    width: 150
    height: 300
    position: right
    hOffset: 0
    vOffset: -10
  mobile:
    show: false
    scale: 0.05
  react:
    opacityDefault: 0.7
    opacityOnHover: 0.2
menu:
  home: / || fa fa-home
  about: /about/ || fa fa-user
  tags: /tags/ || fa fa-tags
  categories: /categories/ || fa fa-th
  archives: /archives/ || fa fa-archive
  bilibili: /bilibili/ || iconfont icon-bilibili
  #lists: /lists/ || fa fa-heartbeat
    #music: /music/ || fas fa-music
    #Gallery: /Gallery/ || fas fa-images
    #movies: /movies/ || fas fa-video
markdown:
  render:
    html: true
    xhtmlOut: false
    breaks: true
    linkify: true
    typographer: true
    quotes: “”‘’
  plugins:
    - markdown-it-abbr
    - markdown-it-footnote
    - markdown-it-ins
    - markdown-it-sub
    - markdown-it-sup
    - markdown-it-emoji
  anchors:
    level: 2
    collisionSuffix: v
    permalink: true
    permalinkClass: header-anchor
    permalinkSymbol: ¶
search:
  path: search.xml
  field: post
  content: true
  
bangumi: # 追番设置
  enable: true
  source: bili
  bgmInfoSource: 'bgmApi'
  path: bilibili/index.html
  vmid: 9995891
  title: '追番列表'
  quote: '杰哥的追番品味就是无敌！~~~///(^v^)\\\~~~'
  show: 1
  lazyload: true
  srcValue: '__image__'
  lazyloadAttrName: 'data-src=__image__'
  loading:
  showMyComment: false
  pagination: false
  metaColor:
  color:
  webp:
  progress:
  extraOrder:
  proxy:
    host: '代理host'
    port: '代理端口'
  extra_options:
    key: value
cinema: # 追剧设置
  enable: true
  path: bilibili/index.html
  vmid: 9995891
  title: '追剧列表'
  quote: '杰哥的追番品味就是无敌！~~~///(^v^)\\\~~~'
  show: 1
  lazyload: true
  srcValue: '__image__'
  lazyloadAttrName: 'data-src=__image__'
  loading:
  metaColor:
  color:
  webp:
  progress:
  extraOrder:
  extra_options:
    key: value